{% extends 'base.html.twig' %}

{% block title %}Create a new record | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {# Todo: add an image of the records #}

    <div>
        Tracks :
        <ul>
            {% for track in tracks %}
                <li>{{ track.song }} - {{ track.artist | upper }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}